@import url("https://fonts.googleapis.com/css?family=Anton|Bebas+Neue|Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton|Bebas+Neue|Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton|Bebas+Neue|Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton|Bebas+Neue|Montserrat&display=swap");
footer, footer a {
  color: #B56A7A;
}

footer {
  padding: 25px 5px;
  margin-top: 25px;
  text-align: center;
  background-color: #404040;
}
footer .nav-footer {
  padding: 15px;
}
footer .nav-footer a {
  display: block;
  padding: 5px;
}
footer .nav-footer a:hover {
  text-decoration: underline;
}
footer .social-media-icon svg {
  fill: #B56A7A;
}
footer .social-media-icon svg:hover {
  fill: #ebebeb;
}

@media only screen and (min-width: 800px) {
  footer .nav-footer {
    display: inline-flex;
  }
  footer .nav-footer a {
    padding: 15px;
  }
}
.header {
  background-color: #404040;
  padding: 5px;
}

.header-top h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  text-shadow: 2px 2px 15px #1a1a1a;
}

.header-top h1, ul li {
  text-align: center;
}

.header-top a {
  color: #B56A7A;
}

.header-top ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-top ul li {
  padding: 5px;
}

nav ul li a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 800px) {
  .logo, .all-links {
    width: 50%;
  }

  .logo {
    display: flex;
  }

  .all-links {
    display: flex;
    justify-content: right;
  }

  .header-top nav ul li {
    display: inline;
  }

  .header-top nav {
    text-align: center;
  }

  .header-top {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }
}
.pagination {
  padding: 30px 5px;
  margin: 25px 5px;
  border-bottom: 1px solid #404040;
}
.pagination .pagination-counting {
  margin: 30px 5px;
}
.pagination .pagination-counting .page-number, .pagination .next-page, .pagination .before-page {
  color: #B56A7A;
  background-color: #404040;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
}
.pagination .pagination-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination .pagination-buttons .prev, .pagination .pagination-buttons .next {
  margin: 15px 0px;
  font-size: 12px;
}

@media only screen and (min-width: 800px) {
  .pagination {
    border-bottom: none;
  }

  .pagination-buttons .prev, .pagination-buttons .next {
    font-size: 14px;
    margin: 15px 0px;
  }
}
.last-posts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside a {
  font-weight: bold;
}
aside ul li {
  text-align: left;
}
aside section {
  padding: 10px 15px 5px 0px;
}

@media only screen and (min-width: 600px) {
  .bio, .last-posts {
    width: 45%;
  }

  aside {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 800px) {
  aside {
    border-left: thin solid gray;
    margin-top: 25px;
    padding: 10px 25px;
    display: block;
  }
  aside time {
    color: #7a7a7a;
    font-size: 12px;
  }
  aside ul li {
    display: inline-block;
  }
  aside .bio, aside .last-posts {
    width: 100%;
  }
}
.page-404 hgroup, .last-posts-404 {
  margin-right: 15px;
}

.page-404 {
  margin-top: 30px;
  margin-bottom: 70px;
}

.last-posts-404 {
  margin-bottom: inherit;
}

.sidebar {
  border-top: 1px solid #404040;
  padding-top: 15px;
}

@media only screen and (min-width: 800px) {
  .last-posts-404 {
    width: 70%;
  }

  .sidebar {
    border-top: 1px solid transparent;
    padding-top: 0;
  }
}
body, p, h1, h2, h3, h4, h5, h6,
img, figure, figcaption, section {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ebebeb;
  color: #404040;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
}

a {
  color: #404040;
  text-decoration: none;
}

article p a {
  color: #B56A7A;
  font-weight: bold;
}

article a:hover {
  text-decoration: underline;
}

main article {
  padding-top: 25px;
  padding-bottom: 25px;
}

main article time {
  color: #7a7a7a;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.img-fluid {
  max-width: 100%;
}

.read-more a {
  background-color: #404040;
  border-radius: 5px;
  color: #B56A7A;
  padding: 10px;
  font-weight: bold;
}

.pagination-counting {
  width: 100%;
  text-align: center;
}

.summary {
  padding-top: 5px;
  padding-bottom: 15px;
}

@media only screen and (min-width: 800px) {
  .main-post, .main-posts {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .main-post article, .main-posts .all-posts {
    width: 70%;
    margin-right: 25px;
  }

  .sidebar {
    width: 30%;
  }

  .bio {
    padding: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
