@import url('https://fonts.googleapis.com/css?family=Anton|Bebas+Neue|Montserrat&display=swap');

$white-gray: #ebebeb;
$dark-gray: #404040;
$cassis: #B56A7A;

$anton: 'Anton', sans-serif;
$montserrat: 'Montserrat', sans-serif; 