.last-posts ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

aside{
    

    a{
        font-weight: bold;
    }

    ul li{
        text-align: left;
    }

    section{
        padding: 10px 15px 5px 0px;
    }
    
}

@media only screen and (min-width:600px){

    .bio, .last-posts{
        width: 45%;
    }

    aside{
        display: flex;
        justify-content: space-between;
    }

}


@media only screen and (min-width:800px){

    aside{
        border-left: thin solid gray;
        margin-top: 25px;
        padding: 10px 25px;
        display: block;

        time{
            color: $medium-gray;
            font-size: 12px;
        }

        ul li {
            display: inline-block;
        }

        .bio, .last-posts{
            width: 100%;
        }
    }


}